<nav class="navbar navbar-expand-md navbar-light bg-light">
  <a class="navbar-brand" [routerLink]="['']">AddressBook</a>
  <button class="navbar-toggler" (click)="showMenu = !showMenu">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" [ngClass]="{show: showMenu}">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" [ngClass]="{show: showContacts}" href="#" (click)="toggleContacts($event)">
          Contacts
        </a>
        <div class="dropdown-menu" [ngClass]="{show: showContacts}">
          <a class="dropdown-item" [routerLink]="['contacts']">Liste</a>
          <a class="dropdown-item" [routerLink]="['contacts', 'add']">Ajouter</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
