<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" [routerLink]="['']">AddressBook</a>
  <button class="navbar-toggler">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle">
          Contacts
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" [routerLink]="['contacts-list']">Liste</a>
          <a class="dropdown-item" [routerLink]="['contacts-add']">Ajouter</a>
        </div>
      </li
    </ul>
  </div>
</nav>
